<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


	<p style="font-size:1.2em;">Geocoder failed attempting to validate <%= @postal_code %></p>

  </body>
</html>