<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The importer successfully ran.</h1>


    <%= "<p>There are #{@trials.all.count} trials and #{@sites.all.count} in the database.</p>" %>
    
  </body>
</html>