
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title>Clinical Trials | Celiac Disease Foundation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="pingback" href="http://celiac.org/xmlrpc.php" />

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Celiac Disease Foundation &raquo; Feed" href="http://celiac.org/feed/" />
<link rel="alternate" type="application/rss+xml" title="Celiac Disease Foundation &raquo; Comments Feed" href="http://celiac.org/comments/feed/" />
<link rel='stylesheet' id='cdf-provider-directory-css'  href='http://celiac.org/wp-content/plugins/cdf-provider-directory/css/cdf-provider-directory.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='cdf-sponsors-carousel-css'  href='http://celiac.org/wp-content/plugins/cdf-sponsors-carousel/css/cdf-sponsors-carousel.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack-widgets-css'  href='http://celiac.org/wp-content/plugins/jetpack/modules/widgets/widgets.css?ver=20121003' type='text/css' media='all' />
<link rel='stylesheet' id='ewdg-pmw-css-css'  href='http://celiac.org/wp-content/themes/celiac/includes/page-menu-widget/page-menu-widget.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='woo-stylesheet-css'  href='http://celiac.org/wp-content/themes/celiac/css/definition-style.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='woo-layout-css'  href='http://celiac.org/wp-content/themes/celiac/css/definition-layout.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-stylesheet-css'  href='http://celiac.org/wp-content/themes/celiac/style.css?ver=3.7.1' type='text/css' media='all' />
<script type='text/javascript' src='http://celiac.org/wp-includes/js/comment-reply.min.js?ver=3.7.1'></script>
<script type='text/javascript' src='http://celiac.org/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://celiac.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://celiac.org/wp-content/plugins/cdf-provider-directory/js/jquery.placeholder.js?ver=3.7.1'></script>
<script type='text/javascript' src='http://celiac.org/wp-content/themes/celiac/includes/page-menu-widget/page-menu-widget.js?ver=3.7.1'></script>
<script type='text/javascript' src='http://celiac.org/wp-content/themes/celiac/includes/js/third-party.js?ver=3.7.1'></script>
<script type='text/javascript' src='http://celiac.org/wp-content/themes/celiac/includes/js/general.js?ver=3.7.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://celiac.org/xmlrpc.php?rsd" />
<link rel='prev' title='Volunteer' href='http://cdf.thankyou4caring.org/page.aspx?pid=344' />
<link rel='next' title='Gluten-Free Marketplace' href='http://celiac.org/live-gluten-free/gluten-free-marketplace/' />
<link rel='canonical' href='http://celiac.org/get-involved/clinical-trials/' />
<link rel='shortlink' href='http://wp.me/P41qfM-PT' />

<!-- This site is using AdRotate v3.8.11 to display their advertisements - http://www.adrotateplugin.com/ -->
<!-- <meta name="vfbPro" version="2.4.1" /> -->
<style type='text/css'>img#wpstats{display:none}</style>
<!-- Jetpack Open Graph Tags -->
<meta property="og:type" content="article" />
<meta property="og:title" content="Clinical Trials" />
<meta property="og:url" content="http://celiac.org/get-involved/clinical-trials/" />
<meta property="og:description" content="National Study to Help Advance Celiac Disease Research The CeliAction Study is a clinical research study designed to evaluate an investigational drug for celiac disease. The study will explore whet..." />
<meta property="og:site_name" content="Celiac Disease Foundation" />
<meta property="og:image" content="http://celiac.org/wp-content/uploads/2013/07/13-AL-0001-WBB1-728x90.jpg" />
<meta name="twitter:site" content="@jetpack" />
<meta name="twitter:image" content="http://celiac.org/wp-content/uploads/2013/07/13-AL-0001-WBB1-728x90.jpg?w=240" />
<meta name="twitter:card" content="summary" />

<!-- Theme version -->
<meta name="generator" content="CDF Definition 1.0" />
<meta name="generator" content="WooFramework 5.5.5" />

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!--  Mobile viewport scale | Disable user zooming as the layout is optimised -->
<meta content="initial-scale=1.0; maximum-scale=1.0; user-scalable=no" name="viewport"/>
<!--[if lt IE 9]>
<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
				<link rel="stylesheet" id="custom-css-css" type="text/css" href="http://celiac.org/?custom-css=1&#038;csblog=1&#038;cscache=6&#038;csrev=75" />
		
<!-- Google Webfonts -->
<link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic|Droid+Sans:r,b" rel="stylesheet" type="text/css" />

<!-- Alt Stylesheet -->
<link href="http://celiac.org/wp-content/themes/celiac/styles/default.css" rel="stylesheet" type="text/css" />

<!-- Woo Shortcodes CSS -->
<link href="http://celiac.org/wp-content/themes/celiac/functions/css/shortcodes.css" rel="stylesheet" type="text/css" />

<!-- Custom Stylesheet -->
<link href="http://celiac.org/wp-content/themes/celiac/custom.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="http://celiac.org/wp-content/themes/celiac/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="http://celiac.org/wp-content/themes/celiac/images/favicon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://celiac.org/wp-content/themes/celiac/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://celiac.org/wp-content/themes/celiac/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://celiac.org/wp-content/themes/celiac/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="http://celiac.org/wp-content/themes/celiac/images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://celiac.org/wp-content/themes/celiac/images/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://celiac.org/wp-content/themes/celiac/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://celiac.org/wp-content/themes/celiac/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="http://celiac.org/wp-content/themes/celiac/images/favicon/apple-touch-icon-152x152.png" />

	  <%= stylesheet_link_tag :application %>
	<%= javascript_include_tag "application" %>
  	  <%= csrf_meta_tag %>

</head>
<body class="page page-id-3217 page-child parent-pageid-1775 page-template-default safari alt-style-default site-primary site-name-celiac-disease-foundation custom-background-empty layout-left-content">


<div id="wrapper">
    
	<header id="header">
		<div class="col-full">
			<!--CDF_HEADER_START-->
<div id="top">
	<nav class="col-full" role="navigation">
		<ul id="top-nav" class="menu-nav fl"><li id="menu-item-8592" class="fa has-icon menu-item menu-item-type-custom menu-item-object-custom menu-item-8592 menu-item-join-our-email-list"><a href="http://celiac.org/email-sign-up-form/"><i class="fa fa-envelope"></i> Join our email list!</a></li>
<li id="menu-item-6073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6073 menu-item-donate"><a title="Support the research" href="http://celiac.org/get-involved/donate/">Donate</a>
<ul class="sub-menu">
	<li id="menu-item-6074" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6074 menu-item-one-time"><a href="https://cdf.thankyou4caring.org/">one time</a></li>
	<li id="menu-item-6075" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6075 menu-item-monthly"><a href="https://cdf.thankyou4caring.org/monthly-giving">monthly</a></li>
	<li id="menu-item-6076" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6076 menu-item-tribute"><a href="https://cdf.thankyou4caring.org/tribute-giving-page">tribute</a></li>
	<li id="menu-item-6077" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6077 menu-item-team-gluten-free-2"><a href="http://cdfteamglutenfree.kintera.org/faf/search/searchParticipants.asp?ievent=1063149&#038;lis=1&#038;kntae1063149=9D293B0F44174F42ADBBB92AA57B4AC8">team gluten-free</a></li>
</ul>
</li>
</ul>	</nav>
</div><!-- /#top -->

	
	<a id="logo" href="http://celiac.org/" title="">
		<img src="http://celiac.org/wp-content/uploads/2013/11/celiac-disease-foundation.png" alt="Celiac Disease Foundation" />
	</a>

<nav id="navigation" class="col-full" role="navigation">
	    <ul id="main-nav" class="menu-nav fl hidden-xs">
				<li class="page_item page-home"><a href="http://celiac.org/">Home</a></li>
		<li class="page_item page-item-1769 page_item_has_children"><a href="http://celiac.org/about-cdf/">About CDF</a>
<ul class='children'>
	<li class="page_item page-item-5848"><a href="http://celiac.org/about-cdf/mission-statement/">Mission Statement</a></li>
	<li class="page_item page-item-3754"><a href="http://celiac.org/about-cdf/medical-advisory-board/">Medical Advisory Board</a></li>
	<li class="page_item page-item-5818"><a href="http://celiac.org/about-cdf/board-of-directors/">Board of Directors</a></li>
	<li class="page_item page-item-1387"><a href="http://celiac.org/about-cdf/staff/">Staff</a></li>
	<li class="page_item page-item-6728"><a href="http://celiac.org/about-cdf/cdf-corporate-sponsors/">CDF Corporate Sponsors</a></li>
	<li class="page_item page-item-2968"><a href="http://celiac.org/about-cdf/internship-program/">Internship Program</a></li>
	<li class="page_item page-item-4492"><a href="http://cdfteamglutenfree.kintera.org/faf/ECommerce/Category.asp?ievent=1063149&#038;lis=1&#038;kntae1063149=9667BFC2854C40A987AF0A3F58E7AD1D" target="_blank">CDF Shop</a></li>
	<li class="page_item page-item-4404"><a href="https://cdf.thankyou4caring.org/pages/insight-donation-form" target="_blank">CDF INSIGHT</a></li>
	<li class="page_item page-item-6430"><a href="http://celiac.org/about-cdf/cdf-year-in-review/">CDF Year In Review 2013</a></li>
	<li class="page_item page-item-4693"><a href="http://celiac.org/about-cdf/form-990/">Form 990</a></li>
	<li class="page_item page-item-4967 page_item_has_children"><a href="http://celiac.org/about-cdf/contact-us/">Contact Us</a>
	<ul class='children'>
		<li class="page_item page-item-8597"><a href="http://celiac.org/about-cdf/contact-us/contact-form/">Contact Form</a></li>
	</ul>
</li>
</ul>
</li>
<li class="page_item page-item-1774 page_item_has_children"><a href="http://celiac.org/celiac-disease/">Celiac Disease</a>
<ul class='children'>
	<li class="page_item page-item-1005 page_item_has_children"><a href="http://celiac.org/celiac-disease/symptoms/">Celiac Disease Symptoms</a>
	<ul class='children'>
		<li class="page_item page-item-8604"><a href="http://celiac.org/celiac-disease/symptoms/checklist/" target="_blank">Symptoms and Conditions Checklist</a></li>
	</ul>
</li>
	<li class="page_item page-item-2578"><a href="http://celiac.org/celiac-disease/what-is-celiac-disease/">What is Celiac Disease?</a></li>
	<li class="page_item page-item-3502"><a href="http://celiac.org/celiac-disease/dermatitis-herpetiformis/">Dermatitis Herpetiformis</a></li>
	<li class="page_item page-item-3006"><a href="http://celiac.org/celiac-disease/non-celiac-gluten-sensitivity/">Gluten Sensitivity</a></li>
	<li class="page_item page-item-1902 page_item_has_children"><a href="http://celiac.org/celiac-disease/diagnosing-celiac-disease/">Diagnosing Celiac Disease</a>
	<ul class='children'>
		<li class="page_item page-item-3004"><a href="http://celiac.org/celiac-disease/diagnosing-celiac-disease/screening/">Screening</a></li>
		<li class="page_item page-item-3001"><a href="http://celiac.org/celiac-disease/diagnosing-celiac-disease/diagnosis/">Diagnosis</a></li>
	</ul>
</li>
	<li class="page_item page-item-6695"><a href="http://celiac.org/celiac-disease/poorly-responsive-celiac-disease/">Poorly Responsive Celiac Disease</a></li>
	<li class="page_item page-item-1891"><a href="http://celiac.org/celiac-disease/treating-celiac-disease/">Treatment and Follow Up</a></li>
	<li class="page_item page-item-3016 page_item_has_children"><a href="http://celiac.org/celiac-disease/resources/">Resources</a>
	<ul class='children'>
		<li class="page_item page-item-3427"><a href="http://celiac.org/celiac-disease/resources/celiac-associations-around-the-world/">Celiac Associations Around The World</a></li>
		<li class="page_item page-item-3522"><a href="http://celiac.org/celiac-disease/resources/celiac-policies-around-the-world/">Celiac Policies Around The World</a></li>
		<li class="page_item page-item-3020"><a href="http://celiac.org/celiac-disease/resources/tax-deductions/">Tax Deductions</a></li>
		<li class="page_item page-item-3025"><a href="http://celiac.org/celiac-disease/resources/brochures/">School and Education Benefits</a></li>
		<li class="page_item page-item-3023"><a href="http://celiac.org/celiac-disease/resources/government-filings/">Unemployment Benefits</a></li>
	</ul>
</li>
	<li class="page_item page-item-4264"><a href="http://celiac.org/celiac-disease/provider-directory/" target="_blank">Find a Healthcare Practitioner</a></li>
</ul>
</li>
<li class="page_item page-item-1775 page_item_has_children current_page_ancestor current_page_parent"><a href="http://celiac.org/get-involved/">Get Involved</a>
<ul class='children'>
	<li class="page_item page-item-4118"><a href="http://celiac.org/blog/category/advocate/">Advocate</a></li>
	<li class="page_item page-item-3055 page_item_has_children"><a href="http://celiac.org/chapters/">CDF Chapters and Support Groups</a>
	<ul class='children'>
		<li class="page_item page-item-6527"><a href="http://celiac.org/get-involved/cdf-chapters/cdf-support/">Start a Support Group</a></li>
	</ul>
</li>
	<li class="page_item page-item-6370 page_item_has_children"><a href="http://celiac.org/get-involved/celiac-disease-foundation-u/">Celiac Disease Foundation U</a>
	<ul class='children'>
		<li class="page_item page-item-6832"><a href="http://celiac.org/get-involved/celiac-disease-foundation-u/start-a-college-chapter/">Start a College Chapter</a></li>
	</ul>
</li>
	<li class="page_item page-item-4645 page_item_has_children"><a href="http://celiac.org/get-involved/share-your-story/">Share Your Story</a>
	<ul class='children'>
		<li class="page_item page-item-6502"><a href="http://celiac.org/get-involved/share-your-story/stories-of-hope/">Stories of Hope</a></li>
	</ul>
</li>
	<li class="page_item page-item-3073 page_item_has_children"><a href="http://celiac.org/get-involved/what-is-team-gluten-free/">Fundraise with Team Gluten-Free</a>
	<ul class='children'>
		<li class="page_item page-item-8769"><a href="http://celiac.org/get-involved/what-is-team-gluten-free/tgf-tip-1/">Team Gluten-Free Tip of the Week: Getting Started</a></li>
		<li class="page_item page-item-8973"><a href="http://celiac.org/get-involved/what-is-team-gluten-free/team-gluten-free-tip-of-the-week-2-selecting-the-right-fundraiser-for-you/">Team Gluten-Free Tip of the Week: Selecting the Right Fundraiser For You</a></li>
		<li class="page_item page-item-9198"><a href="http://celiac.org/get-involved/what-is-team-gluten-free/team-gluten-free-tip-of-the-week-event-planning-101/">Team Gluten-Free Tip of the Week: Event Planning 101</a></li>
	</ul>
</li>
	<li class="page_item page-item-4316 page_item_has_children"><a href="http://celiac.org/get-involved/conference-expo/">Conference &amp; EXPO</a>
	<ul class='children'>
		<li class="page_item page-item-8456"><a href="http://celiac.org/get-involved/conference-expo/attendee/">For Attendees</a></li>
		<li class="page_item page-item-7085"><a href="http://celiac.org/get-involved/conference-expo/forexhibitors/">For Exhibitors</a></li>
	</ul>
</li>
	<li class="page_item page-item-3219"><a href="http://cdf.thankyou4caring.org/page.aspx?pid=344" target="_blank">Volunteer</a></li>
	<li class="page_item page-item-3217 current_page_item"><a href="http://celiac.org/get-involved/clinical-trials/">Clinical Trials</a></li>
	<li class="page_item page-item-3208"><a href="http://celiac.org/get-involved/donate/">Ways to Give</a></li>
</ul>
</li>
<li class="page_item page-item-1776 page_item_has_children"><a href="http://celiac.org/live-gluten-free/">Live Gluten-Free</a>
<ul class='children'>
	<li class="page_item page-item-3106 page_item_has_children"><a href="http://celiac.org/live-gluten-free/gluten-free-diet/">Gluten-Free Diet</a>
	<ul class='children'>
		<li class="page_item page-item-3112"><a href="http://celiac.org/live-gluten-free/gluten-free-diet/what-is-gluten/">What is Gluten?</a></li>
		<li class="page_item page-item-3114"><a href="http://celiac.org/live-gluten-free/gluten-free-diet/sources-of-gluten/">Sources of Gluten</a></li>
		<li class="page_item page-item-3116"><a href="http://celiac.org/live-gluten-free/gluten-free-diet/food-options/">What Can I Eat?</a></li>
		<li class="page_item page-item-3121"><a href="http://celiac.org/live-gluten-free/gluten-free-diet/vitamins-medications-supplements/">Vitamins, Medications, &amp; Supplements</a></li>
	</ul>
</li>
	<li class="page_item page-item-3108 page_item_has_children"><a href="http://celiac.org/live-gluten-free/gluten-free-lifestyle/">Gluten-Free Lifestyle</a>
	<ul class='children'>
		<li class="page_item page-item-3125"><a href="http://celiac.org/live-gluten-free/gluten-free-lifestyle/dining-out/">Dining Out</a></li>
		<li class="page_item page-item-5955 page_item_has_children"><a href="http://celiac.org/live-gluten-free/gluten-free-lifestyle/tips-and-tricks/">Holiday &amp; Social Eating</a>
		<ul class='children'>
			<li class="page_item page-item-8682"><a href="http://celiac.org/live-gluten-free/gluten-free-lifestyle/tips-and-tricks/valentines-day-dining-out-tips/">Valentine&#8217;s Day</a></li>
			<li class="page_item page-item-8899"><a href="http://celiac.org/live-gluten-free/gluten-free-lifestyle/tips-and-tricks/valentines-day-candy-list/">2014 Valentine&#8217;s Day Candy List</a></li>
			<li class="page_item page-item-5894"><a href="http://celiac.org/live-gluten-free/gluten-free-lifestyle/tips-and-tricks/holiday-recipe-guide/">2013 Winter Holiday Recipe Guide</a></li>
			<li class="page_item page-item-4466"><a href="http://celiac.org/live-gluten-free/gluten-free-lifestyle/tips-and-tricks/gluten-free-candy-list/">2013 Halloween Gluten-Free Candy List</a></li>
			<li class="page_item page-item-8601"><a href="http://celiac.org/wp-content/uploads/2014/01/CDF-Gluten-Free-Placards.pdf" target="_blank">CDF Party Placards</a></li>
		</ul>
</li>
	</ul>
</li>
	<li class="page_item page-item-4310"><a href="http://celiac.org/live-gluten-free/proudsponsors/">Proud Sponsors of Celiac Disease Foundation</a></li>
	<li class="page_item page-item-3235"><a href="http://celiac.org/live-gluten-free/gluten-free-marketplace/">Gluten-Free Marketplace</a></li>
</ul>
</li>
<li class="page_item page-item-1787 page_item_has_children"><a href="http://celiac.org/research/">News &amp; Research</a>
<ul class='children'>
	<li class="page_item page-item-4342"><a href="http://celiac.org/blog/category/research/">Research</a></li>
	<li class="page_item page-item-1492"><a href="http://celiac.org/blog/category/cdf-press/">CDF Press</a></li>
	<li class="page_item page-item-5136"><a href="http://celiac.org/blog/category/celiac-disease-in-the-news">Celiac Disease in the News</a></li>
</ul>
</li>
	</ul><!-- /#nav -->

	<div class="mobile-menu visible-xs">
		<form class="form-horizontal">
		<select name='main-nav-mobile' id='main-nav-mobile'>
	<option value="">Select a page</option>
<option class="level-0" value="http://celiac.org/about-cdf/">About CDF</option>
<option class="level-1" value="http://celiac.org/about-cdf/mission-statement/">&nbsp;&nbsp;&nbsp;Mission Statement</option>
<option class="level-1" value="http://celiac.org/about-cdf/medical-advisory-board/">&nbsp;&nbsp;&nbsp;Medical Advisory Board</option>
<option class="level-1" value="http://celiac.org/about-cdf/board-of-directors/">&nbsp;&nbsp;&nbsp;Board of Directors</option>
<option class="level-1" value="http://celiac.org/about-cdf/staff/">&nbsp;&nbsp;&nbsp;Staff</option>
<option class="level-1" value="http://celiac.org/about-cdf/cdf-corporate-sponsors/">&nbsp;&nbsp;&nbsp;CDF Corporate Sponsors</option>
<option class="level-1" value="http://celiac.org/about-cdf/internship-program/">&nbsp;&nbsp;&nbsp;Internship Program</option>
<option class="level-1" value="http://cdfteamglutenfree.kintera.org/faf/ECommerce/Category.asp?ievent=1063149&#038;lis=1&#038;kntae1063149=9667BFC2854C40A987AF0A3F58E7AD1D">&nbsp;&nbsp;&nbsp;CDF Shop</option>
<option class="level-1" value="https://cdf.thankyou4caring.org/pages/insight-donation-form">&nbsp;&nbsp;&nbsp;CDF INSIGHT</option>
<option class="level-1" value="http://celiac.org/about-cdf/cdf-year-in-review/">&nbsp;&nbsp;&nbsp;CDF Year In Review 2013</option>
<option class="level-1" value="http://celiac.org/about-cdf/form-990/">&nbsp;&nbsp;&nbsp;Form 990</option>
<option class="level-1" value="http://celiac.org/about-cdf/contact-us/">&nbsp;&nbsp;&nbsp;Contact Us</option>
<option class="level-0" value="http://celiac.org/celiac-disease/">Celiac Disease</option>
<option class="level-1" value="http://celiac.org/celiac-disease/symptoms/">&nbsp;&nbsp;&nbsp;Celiac Disease Symptoms</option>
<option class="level-1" value="http://celiac.org/celiac-disease/what-is-celiac-disease/">&nbsp;&nbsp;&nbsp;What is Celiac Disease?</option>
<option class="level-1" value="http://celiac.org/celiac-disease/dermatitis-herpetiformis/">&nbsp;&nbsp;&nbsp;Dermatitis Herpetiformis</option>
<option class="level-1" value="http://celiac.org/celiac-disease/non-celiac-gluten-sensitivity/">&nbsp;&nbsp;&nbsp;Gluten Sensitivity</option>
<option class="level-1" value="http://celiac.org/celiac-disease/diagnosing-celiac-disease/">&nbsp;&nbsp;&nbsp;Diagnosing Celiac Disease</option>
<option class="level-1" value="http://celiac.org/celiac-disease/poorly-responsive-celiac-disease/">&nbsp;&nbsp;&nbsp;Poorly Responsive Celiac Disease</option>
<option class="level-1" value="http://celiac.org/celiac-disease/treating-celiac-disease/">&nbsp;&nbsp;&nbsp;Treatment and Follow Up</option>
<option class="level-1" value="http://celiac.org/celiac-disease/resources/">&nbsp;&nbsp;&nbsp;Resources</option>
<option class="level-1" value="http://celiac.org/celiac-disease/provider-directory/">&nbsp;&nbsp;&nbsp;Find a Healthcare Practitioner</option>
<option class="level-0" value="http://celiac.org/get-involved/">Get Involved</option>
<option class="level-1" value="http://celiac.org/blog/category/advocate/">&nbsp;&nbsp;&nbsp;Advocate</option>
<option class="level-1" value="http://celiac.org/chapters/">&nbsp;&nbsp;&nbsp;CDF Chapters and Support Groups</option>
<option class="level-1" value="http://celiac.org/get-involved/celiac-disease-foundation-u/">&nbsp;&nbsp;&nbsp;Celiac Disease Foundation U</option>
<option class="level-1" value="http://celiac.org/get-involved/share-your-story/">&nbsp;&nbsp;&nbsp;Share Your Story</option>
<option class="level-1" value="http://celiac.org/get-involved/what-is-team-gluten-free/">&nbsp;&nbsp;&nbsp;Fundraise with Team Gluten-Free</option>
<option class="level-1" value="http://celiac.org/get-involved/conference-expo/">&nbsp;&nbsp;&nbsp;Conference &amp; EXPO</option>
<option class="level-1" value="http://cdf.thankyou4caring.org/page.aspx?pid=344">&nbsp;&nbsp;&nbsp;Volunteer</option>
<option class="level-1" value="http://celiac.org/get-involved/clinical-trials/">&nbsp;&nbsp;&nbsp;Clinical Trials</option>
<option class="level-1" value="http://celiac.org/get-involved/donate/">&nbsp;&nbsp;&nbsp;Ways to Give</option>
<option class="level-0" value="http://celiac.org/live-gluten-free/">Live Gluten-Free</option>
<option class="level-1" value="http://celiac.org/live-gluten-free/gluten-free-diet/">&nbsp;&nbsp;&nbsp;Gluten-Free Diet</option>
<option class="level-1" value="http://celiac.org/live-gluten-free/gluten-free-lifestyle/">&nbsp;&nbsp;&nbsp;Gluten-Free Lifestyle</option>
<option class="level-1" value="http://celiac.org/live-gluten-free/proudsponsors/">&nbsp;&nbsp;&nbsp;Proud Sponsors of Celiac Disease Foundation</option>
<option class="level-1" value="http://celiac.org/live-gluten-free/gluten-free-marketplace/">&nbsp;&nbsp;&nbsp;Gluten-Free Marketplace</option>
<option class="level-0" value="http://celiac.org/research/">News &amp; Research</option>
<option class="level-1" value="http://celiac.org/blog/category/research/">&nbsp;&nbsp;&nbsp;Research</option>
<option class="level-1" value="http://celiac.org/blog/category/cdf-press/">&nbsp;&nbsp;&nbsp;CDF Press</option>
<option class="level-1" value="http://celiac.org/blog/category/celiac-disease-in-the-news">&nbsp;&nbsp;&nbsp;Celiac Disease in the News</option>
</select>
		</form>
		<script>
		jQuery( document ).ready(function( $ ){
			$('.mobile-menu select').change(function() {
				if ( $(this).val() ) window.location.href = $(this).val();
			});
		});
		</script>
	</div>
	</nav><!-- /#navigation -->
<!--CDF_HEADER_END-->
	    	<div id="site-header">
				<h1 class="site-title"><a href="http://celiac.org/">Celiac Disease Foundation</a></h1>
				<h2 class="site-description"></h2>
			</div>
		</div><!-- /.col-full -->
	</header><!-- /#header -->

	
	<div id="content" class="page col-full">

		<section id="breadcrumbs"><div class="breadcrumb breadcrumbs woo-breadcrumbs"><div class="breadcrumb-trail"><span class="trail-before"><span class="breadcrumb-title">You are here:</span></span> <a href="http://celiac.org" title="Celiac Disease Foundation" rel="home" class="trail-begin">Home</a> <span class="sep">&gt;</span> <a href="http://celiac.org/get-involved/" title="Get Involved">Get Involved</a> <span class="sep">&gt;</span> <span class="trail-end">Clinical Trials</span></div></div></section><!--/#breadcrumbs -->
		<section id="main" class="col-left">

					<article class="post-3217 page type-page status-publish hentry">

				<header class="entry-header">
					<h1>Clinical Trials</h1>
				</header>

				<%= yield %>

					<!-- /.entry -->

												</article><!-- /.post -->

			
    

<!-- You can start editing here. -->



	

		</section><!-- /#main -->

		
		

<!--CDF_SIDEBAR_START-->
<!-- #sidebar-secondary -->
<!--CDF_SIDEBAR_END-->

	</div><!-- /#content -->



<!--CDF_FOOTER_START-->
<footer id="footer">
			<section id="footer-widgets" class="col-full col-4 fix">
		
						    			
			<div class="block footer-widget-1">
		        <div id="text-2" class="widget widget_text"><h3>Celiac Disease Foundation</h3>			<div class="textwidget"><p>20350 Ventura Blvd Ste 240<br />
Woodland Hills CA 91364<br />
Phone: (818) 716-1513<br />
Fax: (818) 267-5577<br />
<a href="/about-cdf/contact-us/contact-form/">Contact Us</a></p>
</div>
		</div>			</div>
			
		        						    			
			<div class="block footer-widget-2">
		        <div id="linkcat-44" class="widget widget_links"><h3>Quick Links</h3>
	<ul class='xoxo blogroll'>
<li><a href="http://celiac.org/privacy-policy/">Privacy Policy</a></li>
<li><a href="http://celiac.org/sponsor-policy/">Sponsor Policy</a></li>
<li><a href="http://celiac.org/terms-of-use/">Terms of Use</a></li>

	</ul>
</div>
			</div>
			
		        						    			
			<div class="block footer-widget-3">
		        <div id="linkcat-43" class="widget widget_links"><h3>Connect with Us</h3>
	<ul class='xoxo blogroll'>
<li><a href="http://www.facebook.com/CeliacDiseaseFoundation" target="_blank"><img src="http://celiac.org/wp-content/themes/celiac/images/icon-facebook.png"  alt="Facebook"  /> Facebook</a></li>
<li><a href="https://twitter.com/celiacdotorg"><img src="http://celiac.org/wp-content/themes/celiac/images/icon-twitter.png"  alt="Twitter"  /> Twitter</a></li>
<li><a href="http://www.youtube.com/user/celiacdiseasefndtn" target="_blank"><img src="http://celiac.org/wp-content/themes/celiac/images/icon-youtube.png"  alt="YouTube"  /> YouTube</a></li>

	</ul>
</div>
			</div>
			
		        						    			
			<div class="block footer-widget-4">
		        <div id="text-6" class="widget widget_text"><h3>Charity Certifications</h3>			<div class="textwidget"><div id="charity-certification">
<a class="thumbnail" href="http://www.independentcharities.org/"><img src="http://celiac.org/wp-content/uploads/2013/12/logo-ica.png"></a>

<a class="thumbnail" href="http://www.guidestar.org/organizations/95-4310830/celiac-disease-foundation.aspx"><img src="http://celiac.org/wp-content/uploads/2013/12/logo-guidestar.png"></a>

<a class="thumbnail" href="https://www.opm.gov/combined-federal-campaign/"><img src="http://celiac.org/wp-content/uploads/2013/12/logo-cfc.png"><small>Code 12140</small></a>

<a class="thumbnail" href=" http://hmr.org//find/processsearch.php?id=95-4310830&listflag=1"><img src="http://celiac.org/wp-content/uploads/2013/12/logo-hmr.png"></a>
</div></div>
		</div>			</div>
			
		        					
		</section><!-- /#footer-widgets  -->
	
	
	<div class="col-full">

		<div id="credit" class="col-right">
					
			Medical information provided on this site has been prepared by medical professionals and reviewed by Celiac Disease Foundation's Medical Advisory Board for accuracy. Information contained on this site should only be used with the advice of your physician or health care professional.		
		</div>
		
		<div id="copyright" class="col-left">
		<p>&copy; 1998-2013  <a href="http://celiac.org/">Celiac Disease Foundation (CDF). </a></p>
<p>Celiac Disease Foundation is a recognized 501 (c) (3) nonprofit organization. </p> 
<p>All contributions are tax deductible to the extent allowable by law. EIN: 95-4310830</p>
<p>All Rights Reserved.</p>		</div>
	</div><!--.col-full-->
</footer><!--#footer-->
<!--CDF_FOOTER_END-->
	

</div><!-- /#wrapper -->

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45903136-1', 'celiac.org');
  ga('send', 'pageview');

</script>
<!--[if lt IE 9]>
<script src="http://celiac.org/wp-content/themes/celiac/includes/js/respond.js"></script>
<![endif]-->
<script type='text/javascript' src='http://celiac.org/wp-content/plugins/cdf-sponsors-carousel/js/jquery.carouFredSel.js?ver=6.2.1'></script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201409'></script>

	<script src="http://stats.wordpress.com/e-201409.js" type="text/javascript"></script>
	<script type="text/javascript">
	st_go({v:'ext',j:'1:2.7',blog:'59444594',post:'3217',tz:'-8'});
	var load_cmc = function(){linktracker_init(59444594,3217,2);};
	if ( typeof addLoadEvent != 'undefined' ) addLoadEvent(load_cmc);
	else load_cmc();
	</script><script>var pltNewTabURLs = ["http:\/\/cdf.thankyou4caring.org\/page.aspx?pid=344","http:\/\/cdfteamglutenfree.kintera.org\/faf\/ECommerce\/Category.asp?ievent=1063149&lis=1&kntae1063149=9667BFC2854C40A987AF0A3F58E7AD1D","https:\/\/cdf.thankyou4caring.org\/pages\/insight-donation-form","http:\/\/celiac.org\/wp-content\/uploads\/2014\/01\/CDF-Gluten-Free-Placards.pdf"];(function(){jQuery(function(e){return e("body").on("click","a",function(t){var n;n=e(this);if(e.inArray(n.attr("href"),pltNewTabURLs)>-1)return n.attr("target","_blank")})})}).call(this);</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45903136-1', 'celiac.org');
  ga('send', 'pageview');

</script>
</body>
</html>

